<h1>Book Categories</h1>
<div class="category-list">
    <% categories.forEach(category => { %>
        <div class="category-card">
            <h3><a href="/categories/<%= category.id %>"><%= category.name %></a></h3>
            <p><%= category.description %></p>
        </div>
    <% }) %>
</div>